.item {
  width: 28rem;
  height: 28rem;
  background-color: rgb(253, 134, 154);
  border-radius: 15px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.item h3 {
  font-size: 12px;
}

.item img {
  width: 90px;
  height: 100px;
  margin: auto;
}

.item p {
  font-size: 7px;
}

.item span {
  font-size: 18px;
  color: greenyellow;
  margin-top: 5px;
}

.verde {
  background-color: greenyellow;
}