.item {

    width: 20rem;
    height: 20rem;
    background-color: yellow; 
    color: black; 
    border-radius: 3px;
    padding: 1rem;
    box-shadow: 5px 5px 10px 10px;
}

.item img {
    width: 95%;
    margin-left: 5px;
}

.verde {
    background-color: green;
}
