header {
    height: 4rem;
    border-bottom: 1px solid gray;
    background-color: rgb(218, 139, 139);
    padding: 0 2rem;
    
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.titulo {
    font-size: 1.5rem;
    color: rgb(255, 196, 216);
    margin-left: -10px;
}
.circulo {
    width: 4rem;
    height: 4rem;


    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}